{% load cart_tag %}
<link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
    .Wrapper {
        max-width: 300px;
        margin: 10px auto;
        padding: 10px 20px;
        background: #f4f7f8;
        border-radius: 8px;
    }

    h1 {
        margin: 0 0 30px 0;
        text-align: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type='Phone Number'],
    input[type='Address'],
    textarea,
    select {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 4px 8px 0;
    }

    select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
    }

    button {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
        margin-bottom: 10px;
    }

    fieldset {
        margin-bottom: 30px;
        border: none;
    }

    legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    label.light {
        font-weight: 300;
        display: inline;
    }

    .number {
        background-color: #5fcf80;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
        border-radius: 100%;
    }

    @media screen and (min-width: 480px) {

        form {
            max-width: 480px;
        }

    }

    body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td::before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
</style>


<table id='table'>
    <caption>Statement Summary</caption>
    <thead>
    <tr>
        <th scope="col">Item name</th>
        <th scope="col">Vendor</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Ammount</th>
        <th scope="col">Action</th>

    </tr>
    </thead>

    <tbody>
    {% for key,value in request.session.cart.items %}
    <tr>
        <td data-label="Account" name='product_name'>{{value.name}}</td>
        <td data-label="Delivery Charges">{{value.vendor.name}}</td>
        <td data-label="Amount" name='product_price'>{{value.price}}</td>
        <td data-label="Amount" name='product_qty'>
            {% if value.quantity > 1 %}
            <a href="{% url 'item_decrement' value.product_id %}">dec</a>
            {% endif %}


            {{value.quantity}}
            <a href="{% url 'item_increment' value.product_id %}">➕</a></td>
        <td data-label="Amount" name='product_net_price'><span class="individualTotal">{{ value.price|multiply:value.quantity }}</span>
        </td>
        <td data-label="Amount"><a href="{% url 'item_clear' value.product_id %}">clear</a></td>
        {% endfor %}
    </tr>
    <tr>
        <td data-label="Account">Total</td>
        <td data-label="Delivery Charges	"></td>
        <td data-label="Amount"></td>
        <td data-label="Amount"></td>
        <td data-label="Amount"><span class='NetTotal'></span></td>
        <td data-label="Amount"></td>

    </tr>
    <tr>
        <td scope="row" data-label="Account">Discount</td>
        <td data-label="Due Date"></td>
        <td data-label="Amount"></td>
        <td data-label="Period"></td>
        <td data-label="Amount" class='discount'>{{get_discount}}</td>
        <td data-label="Amount"></td>
    </tr>
    <tr>
        <td scope="row" data-label="Account">Delivery Charge</td>
        <td data-label="Due Date"></td>
        <td data-label="Amount"></td>
        <td data-label="Period"></td>
        <td data-label="Amount" id ='delivery'></td>
        <td data-label="Amount"></td>
    </tr>
    <tr>

        <td scope="row" data-label="Account">Net Total</td>
        <td data-label="Due Date"></td>
        <td data-label="Amount"></td>
        <td data-label="Amount"></td>
        <td data-label="Amount"><span class='Alltotal' name="totalprice"></span></td>
        <td data-label="Amount"></td>
    </tr>


    </tbody>
      
</table>
<input type="radio" name="choice" value="100"> Inside valley
<input type="radio" name="choice" value="150"> Outside valley

<p id="text" style="display:none">200</p>
<p id="text1" style="display:none">100</p>

<div class="row">
    <div class="col-md-12">
        <div class='Wrapper'>
            <h1> Please Please Fill the Below Form</h1>


            <form action="{% url 'abc' %}" method='POST'>
                {% csrf_token %}
                {{ form }}

      
        


                <button type="submit" id ='btn'>Place Order</button>

            </form>
        </div>
    </div>
</div>


<script>
    var table = document.getElementById("table"), sumVal = 0;
    document.querySelectorAll('.individualTotal').forEach(function (item) {
    sumVal += Number(item.innerHTML)
    })


    document.querySelector(".NetTotal").innerHTML = sumVal;

    document.querySelector('.Alltotal').innerHTML = sumVal + 100;


    function myFunction() {
  var checkBox1 = document.getElementById("inside");
  var checkBox = document.getElementById("outside");
  var text = document.getElementById("text");
  var text1 = document.getElementById("text1");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
  if (checkBox1.checked == true){
    text1.style.display = "block";
  } else {
     text1.style.display = "none";
  }
}

</script>